<div class="about">

  <table class="profile">
    <tr>
      <td rowspan="4" width="30%">
        <img src="http://drive.google.com/uc?export=view&id=1PJG7FnpNZQH86UTl69R-2YIMW5ellbmX">
      </td>
      <td>
        <h2>Daheen Jo</h2>
      </td>
    </tr>
    <tr>
      <td>
        <img class="icon" src="http://drive.google.com/uc?export=view&id=1aBF-OqZ5qyaBz-rvfqeeKkK6Sqr3tx49">
        <p>Software Engineer</p>
      </td>
    </tr>
    <tr>
      <td>
        <img class="icon" src="http://drive.google.com/uc?export=view&id=1M-FSB8FIDo6AYSMVQvJfuS0dcNGBN165">
        <p>Seoul, South of Korea</p>
      </td>
    </tr>
    <tr>
      <td>
        <img class="icon" src="http://drive.google.com/uc?export=view&id=17brEOXuQxOWpQXdTQkJjB3luNs-UF5O2">
        <p>devdhjo@gmail.com</p>
      </td>
    </tr>
  </table>

  <div class="content">
    <h2>Career</h2>
    <table class="career">
      <colgroup>
        <col width="40px"/>
        <col width="31%"/>
        <col width="*"/>
      </colgroup>
      <tr>
        <td class="logo"><img class="icon" src="http://drive.google.com/uc?export=view&id=1N61XF-PbsfGuGz2piR9GNUaXA0yTsyEP"></td>
        <td>2018.04~2019.07<br>System Management</td>
        <td>Groupware & Management Information System</td>
      </tr>
      <tr>
        <td class="logo"><img class="icon" src="http://drive.google.com/uc?export=view&id=1N61XF-PbsfGuGz2piR9GNUaXA0yTsyEP"></td>
        <td>2019.09~2021.05<br>System Management</td>
        <td>Online Reservation For Medical examination<br>OCS & EMR System</td>
      </tr>
      <tr>
        <td class="logo"><img class="icon" src="http://drive.google.com/uc?export=view&id=1N61XF-PbsfGuGz2piR9GNUaXA0yTsyEP"></td>
        <td>2021.06~<br>System Integration</td>
        <td>CDIS (Clinical Device Information System)</td>
      </tr>
    </table>

    <h2>Stack</h2>
    <a frameborder="0" data-theme="light" data-layers="1,2,3,4" data-stack-embed="true" href="https://embed.stackshare.io/stacks/embed/9ff550c2e469cb7fbdc1af91976b0f"/></a>
    <script async src="https://cdn1.stackshare.io/javascripts/client-code.js" charset="utf-8"></script>

  </div>

</div>
