<div class="about">

  <table class="profile">
    <tr>
      <td rowspan="4" width="30%">
        <img src="https://image.flaticon.com/icons/png/512/145/145847.png">
      </td>
      <td>
        <h2>Daheen Jo</h2>
      </td>
    </tr>
    <tr>
      <td>
        <img class="icon" src="https://image.flaticon.com/icons/png/512/1519/1519744.png">
        <p>Software Engineer</p>
      </td>
    </tr>
    <tr>
      <td>
        <img class="icon" src="https://image.flaticon.com/icons/png/512/1519/1519756.png">
        <p>Seoul, South of Korea</p>
      </td>
    </tr>
    <tr>
      <td>
        <img class="icon" src="https://image.flaticon.com/icons/png/512/1519/1519737.png">
        <p>devdhjo@gmail.com</p>
      </td>
    </tr>
  </table>

  <div class="content">
    <h2>Career</h2>
    <table class="career">
      <colgroup>
        <col width="40px"/>
        <col width="31%"/>
        <col width="*"/>
      </colgroup>
      <tr>
        <td class="logo"><img class="icon" src="https://image.flaticon.com/icons/png/512/416/416548.png"></td>
        <td>2018.04~2019.07<br>System Management</td>
        <td>Groupware & Management Information Systems</td>
      </tr>
      <tr>
        <td class="logo"><img class="icon" src="https://image.flaticon.com/icons/png/512/416/416548.png"></td>
        <td>2019.09~<br>System Management</td>
        <td>Online Reservation For Medical examination</td>
      </tr>
    </table>

    <h2>Stack</h2>
    <a frameborder="0" data-theme="light" data-layers="1,2,3,4" data-stack-embed="true" href="https://embed.stackshare.io/stacks/embed/9ff550c2e469cb7fbdc1af91976b0f"/></a>
    <script async src="https://cdn1.stackshare.io/javascripts/client-code.js" charset="utf-8"></script>

  </div>

</div>
